.CardDropShadow {
    position: relative;
    margin-top: 2vh;
    background: #FFF;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    height: 96vh;
}

.Image {
    padding-left: 3vw;
    height: 92vh;
    filter: drop-shadow(0 0 0.25rem crimson);
}

.TextCol {
    display: flex;
    flex-direction: column;
}

.Title {
    text-align: center;
    width: 100%;
}

.Title h1 {
    background: -webkit-linear-gradient(#D6CAC5, #fff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0 0 3px white);
    font-size: 90px;
}

.Title h2 {
    background: -webkit-linear-gradient(#D39D38, yellow);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0 0 3px white);
    font-size: 120px;
}

.Checkout {
    text-align: center;
    margin-top: auto;
}

.Checkout p {
    color: black;
    font-size: 36px;
    text-shadow: 0 0 2px #fff;
}

.PeaceSymbol {
    color: #D39D38;
}