.SlidingBox {
    white-space: pre-line;
    height: 75vh;
    width: 100%;
    margin: 2vh 0 5vh 0;
}

.DropShadow {
    position: relative;
    padding: 1em;
    background: #FFF;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    height: 100%;
    width: 100%;
}

#FadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}

.Bigger {
    font-size: 40px;
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}